@media only screen and (min-width:600px){

 .page1-top {
        padding: 10vw 5vw 0;
     
    }
   
 .page1-top-left h2 {
        font-size: 2.5em;
        line-height: 1em;
        width: 100%;
    }
.page1-bottom p {
        font-size: 2em !important;
        width: 80%;
        line-height: 45px;
    }
}