*{
    margin: 0;
    padding: 0 ;
}
.packstart{
    font-size: clamp(16px, 1vw, 20px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tops {
        display: flex;
        background: linear-gradient(to top right,#FCFCE2,#F5FBFE );
        justify-content: center;
        padding: 5vh 0;
        flex-wrap: wrap;
}
.tops .lefty {
    display: flex;
    padding-left: 5em;
    justify-content: center;
    align-content: center;
    width: 50%;
    max-width: 300px;
    min-width: 300px;
}
.tops .lefty img{
    width: 25em;
    object-fit: cover;
}
.tops .righty {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-right: 5em;
    padding-left: 15em;
    max-width: 400px;
    width: 100%;
    min-width: 300px;
}   
.tops .righty h2{
    color: #4A4A4A;
    font-size: 2em;
    padding: 1rem 0;
}
.tops .righty p {
    padding: 1rem 0;
    width: 70%;
    
}
.tops .righty h1{
    font-size: 3em;
    line-height: 0.8;
    padding: 1rem 0;
    width: 70%;
    line-height: 1em;
}
.tops .righty button{
    background: #0468D7;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 3em;
    padding: 1em;
    width: 12em;
}
.tops .righty button:hover{
    cursor: pointer;
}
.bottoms {
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    justify-content: center;
    align-items: center;
}
.bluebox{
    background: #042449;
    border-radius: 3em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 60%;
    position: relative;
    height: 30vh;
}
.info{
    padding: 3em 0 3em 2em;
    color: white;
    position: absolute;
    z-index: 1;
}
.info h1{
    font-size: 3em;
}
.info p{
    font-size: 1em;
}
.info .oneline{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1em 0;
}
.info button{
    background: white;
    border: none;
    color: #0468D7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 3em;
    padding: 1em;
    width: 8em;
    margin: 1em;
}

.bluebox img{
    width: 400px;   
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}