*{
    margin: 0;
    padding: 0 ;
}
.packstart{
    font-size: clamp(16px, 1vw, 20px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tops {
        display: flex;
        background: linear-gradient(to top right,#FCFCE2,#F5FBFE );
        justify-content: center;
        padding: 5vh 0;
        flex-wrap: wrap;
}
.tops .lefty {
    display: flex;
    padding-left: 5em;
    justify-content: center;
    align-content: center;
    width: 50%;
    max-width: 300px;
    min-width: 300px;
}
.tops .lefty img{
    width: 25em;
    object-fit: cover;
}
.tops .righty {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-right: 5em;
    padding-left: 15em;
    max-width: 400px;
    width: 100%;
    min-width: 300px;
}   
.tops .righty h2{
    color: #4A4A4A;
    font-size: 2em;
    padding: 1rem 0;
}
.tops .righty p {
    padding: 1rem 0;
    width: 70%;
    
}
.tops .righty h1{
    font-size: 3em;
    line-height: 0.8;
    padding: 1rem 0;
    width: 70%;
    line-height: 1em;
}
.tops .righty button{
    background: #0468D7;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 3em;
    padding: 1em;
    width: 12em;
}
.tops .righty button:hover{
    cursor: pointer;
}
.bottoms {
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    justify-content: center;
    align-items: center;
}
.bluebox{
    background: #042449;
    border-radius: 3em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 60%;
    position: relative;
    height: 30vh;
}
.info{
    padding: 3em 0 3em 2em;
    color: white;
    position: absolute;
    z-index: 1;
}
.info h1{
    font-size: 3em;
}
.info p{
    font-size: 1em;
}
.info .oneline{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1em 0;
}
.info button{
    background: white;
    border: none;
    color: #0468D7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 3em;
    padding: 1em;
    width: 8em;
    margin: 1em;
}

.bluebox img{
    width: 400px;   
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}*{
margin: 0;
padding: 0;
box-sizing :border-box;
font-family: sans-serif;
}
html,body{
  font-size: 1rem;
width :100%;
height :100%;

}
/* <!-- krishna -->

   <!-- krishna end -->

    <!-- adi -->
  */
  /* page 2 started */
  .page2{
    padding:5vw 10vw ;
    display: flex;
    font-size: 2rem;
    gap: 8vh;
    justify-content: center;
    flex-wrap: wrap;
  }
  .page2 .card-1{
    border-top: 4px solid #E8EAED;
    padding: 1.2rem 2.2rem 0 0;
    max-width: 350px;
    width: 100%;
  }
  .card-1 h2{
    margin-bottom: 2vh;
    font-size: 1.8rem;
  }
  .card-1 p{
    margin-bottom:10vh;
    font-size: 1.2rem;
    color: #4A4A4A;
  }
  .page2 img{
    width: 100%;
    aspect-ratio: 1.1/1;
  }
  /* page 2 ended */

  /* page 3 started */
  .page3{
    padding:6vw 13vw ;
    display: flex;
    font-size: 2rem;
    gap: 10vh;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
  }
  .page3-left{
   max-width: 450px;
   width: 100%;
  }
  .page3-left h4{
  font-weight: 600;
  font-size: 1.2rem;
  color: #4A4A4A;
  }
  .page3-left h3{
  font-weight: 600;
  font-size: 3.8rem;
  margin: 3vh -5px;
  }
  .page3-left p{
    width:98%;
    line-height: 1.8rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #4A4A4A;
}
  .page3-right{
    min-width:200px;
    max-width:350px ;
    width: 100%;
  }
  .page3-right img{
    width: 100%;
  }
  .connection{
    display: flex;
    margin-top:1.2em;
    align-items: center;
    gap: 14px;
  }
  .connection .btn{
    width: fit-content;
    padding: 10px 30px;
    color: #0468D7;
    border: 1px solid #0468D7;
    border-radius: 20px ;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .connection a{
    font-size: 1rem;
    width: fit-content;
    color: #4A4A4A;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .connection .btn:hover{
    background-color: #0468D7;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  /* page 3 end */


      /* <!-- adi end -->

    <!--  charan -->
 */

.page4 {
  display: flex;
  gap: 8.5vw;
  font-family: "Google Sans", "sans-serif", "Roboto", "sans-serif",
    "Roboto Mono", monospace;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2vw 1vw;
  flex-wrap: wrap;
  background-image: linear-gradient(to right top, #fcfce2, #f5fbfe);
}
.page4_Left {
  width: 100%;
  max-width: 500px;
  min-width: 40px;
}
.page4_Left img {
  width: 100%;
}

.page4_right {
  max-width: 630px;
  min-width: 500px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 2.6rem;
}
.page4_right h1 {
  font-family: "Google Sans", sans-serif;
  margin-bottom: -22px;
  font: 60px;
  font-size: 4rem;
}
.page4_right h2 {
  font-family: "Google Sans", sans-serif;
  margin-bottom: -20px;
  font: 20px;
  color: #4a4a4a;
  font-size: 1.3rem;
}
.page4_right p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  width: 80%;
  color: #4a4a4a;
  margin-top: 5px;
}
.btn_solid {
  background-color: #0468d7;
  border: 1px;
  cursor: pointer;
  width: fit-content;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Google Sans", "sans-serif";
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 20px;
}
.page5 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fcfce1;
  font-family: "Google Sans", "sans-serif", "Roboto", "sans-serif",
    "Roboto Mono", monospace;
  width: 100%;
  height: 80vh;
  align-items: center;
  padding-right: 100px;
  background-image: linear-gradient(to right top, #ffffff, #ffffff);
}
.page5_Left {
  justify-content: center;
  width: 50%;
}
.page5_Left img {
  width: 90%;
  padding-left: 25%;
}
.page5_right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 0px 1px 0px 205px;
  font-size: 1.1rem;
}
.page5_right h1 {
  font-family: "Google Sans", sans-serif;
  margin-bottom: -22px;
  font: 60px;
  font-size: 4rem;
}
.page5_right h2 {
  font-family: "Google Sans", sans-serif;
  margin-bottom: -20px;
  font: 20px;
  color: #4a4a4a;
  font-size: 1.3rem;
}
.page5_right p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 26px;
  font: 20px;
  color: #4a4a4a;
}
.btn_solid_5 {
  background-color: #ffffff;
  border: 1px solid #0468d7;
  cursor: pointer;
  width: fit-content;
  padding: 10px 12px;
  border-radius: 250px;
  color: #0468d7;
  font-family: "Google Sans", "sans-serif";
  font: 12px;
  margin: 0px, 0px, 14px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.btn_solid_5:hover {
  background-color: #0468d7;
  color: #ffffff;
}
/* 
      <!-- charan end -->

      <!-- saurabh   -->

      <!-- saurabh  end -->

       <!-- sanajana  -->

       <!-- sanajana  end --> */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

footer{
    background: #f8f9fa;
    position: relative;
    bottom: 0;
    padding: 10%;
}
.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.no-bullets {
    list-style-type: none; 
    padding-left: 0;       
    margin: 0;             
}

.footer-main {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 65px;
}
.footer-info-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.info1,.info2,.info3{
 margin-top: 2rem;
    margin-left: 2rem ;
}

.no-bullets li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear;
}
.no-bullets li:hover,.no-bullets li a:hover{
    color: #0468D7;
    cursor: pointer;
    transition: all 0.5s linear;
}
.footer-logo-section img {
    max-width: 80%;
}
 .no-bullets li{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem;
}
.social img{
    margin-top: 2rem;
    height: 25px;
    max-width: 25px;
    width: 8%;
    margin-left: 2rem;
    opacity: 0.8;

}
.social{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 1rem;
}
.line {
    border-top: 2px solid rgba(0, 0, 0, 0.5); 
    width: 100%; 
    margin: 20px 0;
}
.footer-tray{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.tray2 ul{
    display: flex;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.5rem;
}
.tray1{
    min-width: 250px;
    width: 60%;
    font-size: 0.9rem;
    flex-basis: 60%;
}
.tray1 p{
    width: 100%;
}
.tray2{
    flex-basis: 40%;
    min-width: 250px;
}
 
